/* =====================================
  Dynamo biblo style.css
  ------------------------------------
  library pages
  ------------------------------------

  main library page (http://biblo.local/biblioteker)
    blogs
    events at a library
/*--------------------------------------*/
.node-teaser .content{width:510px; margin:0 5px 0 0; float:left;}
.node-teaser .picture, .view-event-list .picture{ width:120px; height:120px; margin:0 20px 0 0; float:left; background:#eee;}


.panel-pane .node-teaser .content{width:540px; margin:0; float:left; padding:0; overflow:hidden;}
.panel-pane .node-teaser .picture{  width:120px; height:120px; margin:0 20px 0 0; float:left; background:#eee;}

body.page-biblioteker .panel-pane .node-teaser .content{margin:0; float:left; padding:0; overflow:hidden;}
body.page-biblioteker .panel-left .view ul li{padding:10px 0 10px 10px;}
body.page-biblioteker .panel-left .view ul.pager li{padding:0;}
body.page-biblioteker .node ul{margin:0;}

body.ding-blog .panel-pane .node-teaser .content{width:530px; margin:0; float:left; padding:0; overflow:hidden;}

body.ding-ting-object .panel-pane .node-teaser .content{width:370px; }
/* ==========================================================================
  library overview (http://biblo.local/biblioteker)
/*----------------------------------------------------------------------------*/
.ding-library-map {width:680px;}
.view-library-list .node-teaser-library{width:680px;}
.view-library-list .node-teaser-library .picture{width:120px; height:120px; margin:0 20px 0 0; float:left; background:#eee;}
.view-library-list .node-teaser-library .content{width:340px; margin:0 5px 0 0; float:left;}

  li.first .node-teaser-library{background: none; padding:10px 0}
    .node-teaser-library .content h3{padding:0 0 5px 0;}
    .node-teaser-library .content .link-card{padding:0 0 3px 0;}

  /** Library open status on top of picture **/
  .node-teaser-library .picture {
    position: relative;
  }
    .node-teaser-library .picture .library-openstatus{
      border-bottom: 1px solid white;
      border-left: 1px solid white;
      color: white;
      float: right;
      padding: 0 5px;
      position: absolute;
      right: 0;
      top: 0;
    }
    .node-teaser-library .picture .open{background:#2c9d01;}
    .node-teaser-library .picture .closed{display: none;}

  /*adresse*/
  .node-teaser-library .vcard div{clear:both;}
  .node-teaser-library .vcard  span.type{width:60px; display:block; float:left;}
  .node-teaser-library .vcard .geo{display:none;}

  /* Opening hours */
  .node-teaser-library .opening-hours-week {
    clear: right;
    float: right;
    font-size: 11px;
    padding: 0;
    width: 180px;
  }

  .node-teaser-library .opening-hours-week .header {
    font-size: 10px;
  }

/*calender pane*/
#event-list .panel-pane{margin:0 5px;}
  #event-list h3{background:#d1d9d7; padding:0px 10px;margin:0 0 0 10px; font-size:12px; text-transform: uppercase;  }

  #event-list .view-header{background:#d1d9d7; padding:3px 10px; margin:0 10px 0 14px;}
  #event-list li {padding:8px 0 6px 17px; background:transparent url(../images/bg-divider-verysmall.png) no-repeat left top;  clear:both;}
  #event-list li.first{background:none;}
  #event-list li .calendar-leafs .leaf{height:65px; width:55px; float:left; padding:2px 0 0 0; background:transparent url(../images/bg-calender.png) no-repeat 0 0; overflow:hidden;}
  #event-list li .calendar-leafs .leaf.today{background:transparent url(../images/bg-calender.png) no-repeat 0 -64px; ;}
  #event-list li .calendar-leafs .info{ width:150px; float:left; overflow:hidden; padding:0 0 0 4px}
  #event-list li .calendar-leafs  h4{padding:0 0 5px 0;}
  #event-list .title{color:#000; font-weight:bold;}
  #event-list li div.leaf{font-family: Georgia, serif; text-align: center;}
  #event-list li div.leaf .day{color:#fff; font-size:10px; line-height:15px;}
  #event-list li div.leaf .date{font-size:28px; line-height:26px; color:#000;}
  #event-list li div.leaf .month{font-size:9px; line-height:15px; text-transform: uppercase;}

  #event-list li div.info a{color:#666;}
  #event-list li div.info h4{line-height:8px; padding:0; margin:0;}
  #event-list li div.info h4 a{color:#050505; font-size:10px; line-height:12px;}
  #event-list li div.info span{font-size:9px;}
  #event-list li div.info span.time {background:transparent url(../images/ur.png) no-repeat 0 2px; padding:0 0 0 14px; font-weight:normal; font-size:10px;}
  #event-list li div.info span.price {font-size:10px;}
  #event-list .more-link{padding:0 30px 0 0;}


/*features pane*/
.ding-box-pane .pane-library_feature_list ul.item-list{padding:8px 0 8px 12px;}
  .ding-box-pane .pane-library_feature_list ul.item-list li{width:95px; float:left; margin:0 ; padding:0 0 0 15px; background:transparent url(../images/ok.png) no-repeat left 3px; }

/*event*/
#content .node-event .content .field-datetime {}
#content .node-event .field-entry-price{font-weight:bold; display:inline;}
#content .node-event div.event-info span.time{background:transparent url(../images/ur.png) no-repeat 0 2px; padding:0 5px 0 14px; font-weight:normal;}

#event-similar h4 a{display:block; height:40px; overflow:hidden; font-size:11px; line-height:12px;}
#event-similar img{height:120px; width:120px; display:block;}
#event-similar div{height:100px; margin:0 0 20px 0; width:120px; overflow:hidden;  font-size:11px; line-height:12px;}
#event-similar .date{height:20px; font-weight:bold;}
/* ==========================================================================
  library Right bars
/*----------------------------------------------------------------------------*/
/*biblo adresse*/
.library-info{width:228px; background:transparent url(../images/sprite-box.png) repeat-y 0px 0;}
  .library-info-inner{background:transparent url(../images/sprite-box.png) no-repeat -460px 0; min-height:170px;}
  .library-info .vcard{padding:15px; overflow:hidden;}
  .library-info .links{padding: 0 15px;}
  .library-info .library-map{width:228px; padding:15px 15px 10px 15px; overflow:hidden; background:transparent url(../images/sprite-box.png) no-repeat -700px bottom;}
  .library-info .library-map-inner{width:194px; height:140px; background:#eee;}

  /* biblo external links*/
  .pane-library_location ul.links {margin:10px 0 0 0;}
  .pane-library_location ul.links li{display:block; padding:0;}
    .pane-library_location ul.links li a{background:transparent url(../images/icons/arrow.png) no-repeat left center; padding:0px 0 5px 20px; font-size:10px;}
    /*icons for the links*/
    .pane-library_location ul.links li a.rejseplanen{background:transparent url(../images/icons/rejseplanen.gif) no-repeat}
    .pane-library_location ul.links li a.findvej{background:transparent url(../images/icons/findvej.png) no-repeat}
    .pane-library_location ul.links li a.blogger{background:transparent url(../images/icons/blogger.png) no-repeat}
    .pane-library_location ul.links li a.delicious{background:transparent url(../images/icons/delicious.png) no-repeat}
    .pane-library_location ul.links li a.facebook{background:transparent url(../images/icons/facebook.png) no-repeat}
    .pane-library_location ul.links li a.feed{background:transparent url(../images/icons/feed.png) no-repeat}
    .pane-library_location ul.links li a.flickr{background:transparent url(../images/icons/flickr.png) no-repeat}
    .pane-library_location ul.links li a.friendfeed{background:transparent url(../images/icons/friendfeed.png) no-repeat}
    .pane-library_location ul.links li a.linkedin{background:transparent url(../images/icons/linkedin.png) no-repeat}
    .pane-library_location ul.links li a.livejournal{background:transparent url(../images/icons/livejournal.png) no-repeat}
    .pane-library_location ul.links li a.myspace{background:transparent url(../images/icons/myspace.png) no-repeat}
    .pane-library_location ul.links li a.netvibes{background:transparent url(../images/icons/netvibes.png) no-repeat}
    .pane-library_location ul.links li a.newsvine{background:transparent url(../images/icons/newsvine.png) no-repeat}
    .pane-library_location ul.links li a.picasa{background:transparent url(../images/icons/picasa.png) no-repeat}
    .pane-library_location ul.links li a.stumbleupon{background:transparent url(../images/icons/stumbleupon.png) no-repeat}
    .pane-library_location ul.links li a.twitter{background:transparent url(../images/icons/twitter.png) no-repeat}
    .pane-library_location ul.links li a.vimeo{background:transparent url(../images/icons/vimeo.png) no-repeat}
    .pane-library_location ul.links li a.wordpress{background:transparent url(../images/icons/wordpress.png) no-repeat}
    .pane-library_location ul.links li a.youtube{background:transparent url(../images/icons/youtube.png) no-repeat}


/*tagadelic*/
.pane-tagadelic-2{width:200px; overflow:hidden; padding:20px 0 0 20px;}
  .pane-library_title{display:block;}
  .pane-library_title .picture{margin:0 0 15px 0;}


/* =======================================
  pages
/* ------------------------------------- */

ul.menu{list-style-position:inside; font-size:12px;}
ul.menu li{list-style: none inside; margin:0; padding: 0 0 0 0px; background:none;}
ul.menu li.leaf { padding:0 0 0 0; list-style: none outside; margin:0 0 0 15px;}

ul.menu li.leaf > a.active, ul.menu li > a.active,
li.active-trail > a
{font-weight:bold; color:#9CB333;}

ul.menu li.leaf a{font-weight:normal;}
ul.menu li.collapsed{padding:0;}
  ul.menu li.collapsed a{background:transparent url(../images/bullet_toggle_plus.gif) no-repeat left 0px; padding:0 0 0 15px;}

ul.menu li.expanded{list-style: none inside;}
  ul.menu li.expanded a{background:transparent url(../images/bullet_toggle_minus.gif) no-repeat left 0px; padding:0 0 0 15px;}

ul.menu li.expanded ul.menu {margin:0 0 0 10px;}
ul.menu li.leaf a{background:none; padding:0;}

ul.menu li ul{}
  ul.menu li ul li{list-style-type: none;}

ul.menu li.expanded ul.menu li.expanded{margin:0 0 0 0px}
ul.menu li.expanded ul.menu li.expanded a{display:block}

.panel-left ul.menu li.first{background:none;}
/**/
.view-blog-category-list ul li div{display:inline;}
.view-blog-category-list ul li div.node-count{font-size:10px;}


/*events*/
.pane-event_list-panel_pane_1 .view-event-list .library-tag div,
.pane-event_list-panel_pane_3 .view-event-list .library-tag div {display:inline;margin:0 5px 0 0;}
.pane-event_list-panel_pane_1 .view-event-list ul,
.pane-event_list-panel_pane_3 .view-event-list ul{clear:both;}
  .pane-event_list-panel_pane_1 .view-event-list li,
  .pane-event_list-panel_pane_3 .view-event-list li{background:transparent url(../images/bg-divider.png) no-repeat left top; padding:10px 0}
  .pane-event_list-panel_pane_1 .view-event-list li.first,
  .pane-event_list-panel_pane_3 .view-event-list li.first{background:none;}
    .pane-event_list-panel_pane_1 .view-event-list span.time,
    .pane-event_list-panel_pane_3 .view-event-list span.time{background:transparent url(../images/ur.png) no-repeat 0 2px; padding:0 0 0 14px; font-weight:normal;}

.pane-event_list-panel_pane_1 .view-event-list li .info,
.pane-event_list-panel_pane_3 .view-event-list li .info {
  margin-left: 140px;
}

.event-info {margin:0 0 20px 0;}
.content .event-info{margin:0;}
  .event-info .event-date{margin:0 5px 0 0;}
  .event-info .event-price{font-weight:bold;}


.content .field-teaser{margin:10px 0;}

/*faciliteter*/
.pane-library_feature_detail_list{}
.pane-library_feature_detail_list .node-teaser .content{width:535px;}
.panel-left .pane-library_feature_detail_list ul.item-list{width:715px;}

/*medarbjedere*/
.panel-left .view-library-staff-list ul{padding:0 0 0 10px;}
.panel-left .view-library-staff-list ul li,.panel-left .view-library-staff-list ul li.first{width:145px; height:170px; float:left; background:none; padding:10px;}
  .view-library-staff-list li .field-image-fid{width:120px; height:120px; background:#ddd;}


.panel-middle .pane-topic_list{margin:0 0 0 20px;}
.panel-middle .pane-topic_list h2{}
/* =======================================
  comment
/* ------------------------------------- */
div.indented{margin:0 0 0 20px;}
div.comment {width: auto; margin:0 0 10px 0; padding:5px 5px 5px 0;}
  div.comment blockquote {border: 1px solid #dedede; background:#fff; font-size:10px; padding:0 10px 10px 10px;}
  div.comment blockquote h4{margin: 10px 10px 5px 0px;}
  div.comment blockquote h4.new a{color:#000;}
  div.comment blockquote p {margin: 0 10px;}
  div.comment blockquote ul li {list-style-position: inside; margin:0 0 0 10px; list-style-type: disc;}
  div.comment blockquote ol li {list-style-position: inside; margin:0 0 0 10px;}
  div.comment ul.links{text-align:right; margin: 5px 10px}
  div.comment ul.links li{display:inline;}
  div.comment .meta {position:relative; margin:-1px 0 0 10px; padding:10px 0 0 30px ;background: transparent  url(../images/tip.gif) no-repeat 35px 0; font-style:normal;}
  div.comment .meta .author{color:#999;}
  div.comment .meta .date{color:#999;}

  #comment-form .form-textarea{width:650px;}
  #comment-form .form-buttons{text-align:right;}
    #comment-form .form-button{display:inline;}


/*panels node*/
.page-comment .comment,
.page-comment #comment-form,
.pane-node_content,
.pane-node_comments,
.pane-node_comment_form{
  margin:0 20px 20px 0px;
}



.content-top .pane-node_content{margin:0 20px 20px 0;}

body.node-type-article h2.panel-title{display:none;}

/*vieews filters*/
.view-event-list .view-filters{float:right;}
#content-main .view-filters form{margin:0;}
.views-exposed-form .views-exposed-widget{float:left;}
.views-exposed-form .views-exposed-widget .form-submit,
.views-exposed-form .views-exposed-widget .form-button,
#content form .views-exposed-form .form-item {
  margin:0; padding:0;
}
.views-exposed-form  label{display:none;}

