ul.menu li.leaf {margin :0 0 0 35px;}
.panel-left ul.menu li ul li.first{padding:0 0 0 0;margin:0 0 0 35px;}

/*carousel*/
.ting-search-carousel .search-results {}
.ting-search-carousel {left:-20px}
.ting-search-carousel .subtitle {
float:left;
padding:0 0 0 20px;
margin:15px 0 0 15px;
width:220px;
height:200px;
overflow:hidden;

}

/** Layout bug on library map **/
.panel-left .view {position: static;}

.jcarousel-skin-ting-search-carousel{width:670px;}
