/* =====================================
	Style: ting.css
	styles for ting, collections etc
* ------------------------------------- */
#ting-collection .ting-overview { margin-bottom: 20px; }
#ting-collection .ting-overview p { color: #646765; } /* default text color, morten?! */
#ting-collection .ting-overview .creator { color: #878787; margin-bottom: 10px; }
#ting-collection .ting-overview .byline { font-weight: normal; font-style: italic; }
#ting-collection .ting-overview .ting-details { font-size: 11px; color: #878787;}
#ting-collection .ting-overview .material-links { font-size: 11px; background-color: #E7ECEB; padding: 10px; margin-top: 15px; }
#ting-collection .ting-overview .material-links .title { display: block; font-weight: bold; color: #000; }
#ting-collection .ting-item .picture{float:left; margin:0 10px 10px 0;}

#ting-collection .info h5 { font-size: 10px; display: inline; font-weight: bold; }
#ting-collection .info .date { display: block; }
#ting-collection .info .byline {font-style: italic; }
#ting-collection .info .author {}
#ting-collection .info ul.types { margin-top: 10px; }

#ting-collection h2{margin: 10px 0; border-bottom: 1px solid #E7ECEB; color:#790f21;}

/*layout*/
.ting-item{margin:10px 0 0 0; padding:10px 0; border-bottom: 1px solid #eee;}
.ting-item .content{width:410px;float:left;}
  .ting-item .content .picture{float:left; width:85px;}
  .ting-item .content .info{float:left; width:300px;}
  .ting-item .content .ting-creators{color: #000;}
.ting-item .ting-overview .label { font-weight: bold; }
.ting-item .ting-overview a { display: auto; }
.ting-item .ting-object-buttons {float:left;}

/*status*/
.ting-item .ting-status{display: inline; font-size:10px; text-align:center; line-height:10px; padding:3px 25px; margin:10px 0 0 0; background-color: #eee; }
  .ting-item .ting-status.waiting,
#content .ting-object-buttons a.disabled {color: #777; cursor:default; text-decoration:none !important;}
.ting-item .ting-status.available {background-color: #71bf44;  color: white;}
.ting-item .ting-status.unavailable{  background-color: #6B0046;  color: white;}

#ting-collection .ting-status {line-height:29px;}

/* ui.tabs reset */
.tab-navigation.ui-tabs-nav {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: inherit; text-decoration: none; font-size: 100%; list-style: none; font-family: inherit; bottom: inherit; position: inherit; z-index: inherit;
}
.tab-navigation.ui-tabs-nav ul {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: inherit; text-decoration: none; font-size: 100%; list-style: none;
}
.tab-navigation .ui-tabs-nav li {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: inherit; text-decoration: none; font-size: 100%; list-style: none; float: inherit;
}
.tab-navigation.ui-tabs-nav li a {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: inherit; text-decoration: none; font-size: 100%; list-style: none; float: inherit; font-weight: inherit; background: none;
}

.tab-navigation-main.ui-tabs-panel {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; clear: none; color: inherit; font-family: inherit;
}

.tab-navigation.ui-tabs-nav li a:hover {
	background: none;
	color: inherit;
}
.tab-navigation.ui-tabs-nav li.ui-tabs-selected {
	border-bottom-color: none;
}
.tab-navigation.ui-tabs-nav li.ui-tabs-selected a,
.tab-navigation.ui-tabs-nav li.ui-tabs-selected a:hover {
	background: inherit;
	color: inherit;
}

/*
  buttons
--------------------------------------*/
.ting-item ul.buttons li{background:none;  border:none; float:left;  padding:0; margin:0; text-align:center; min-width:90px;
  display:block; padding:0 11px 0 0; width:auto; background: transparent url(../images/sprite-knapper-reservering.png) no-repeat right 0px;
}

.ting-item ul.buttons li a,
.ting-overview ul.buttons li a
{
  font-size:8px; font-weight:bold; line-height:10px; text-transform:normal; margin:0; padding:10px 0 10px 10px; color:#fff;
  background: transparent url(../images/sprite-knapper-reservering.png) no-repeat left -60px;
}

.ting-item ul.buttons li:hover{background: transparent url(../images/sprite-knapper-reservering.png) no-repeat right -120px}
.ting-item ul.buttons li a:hover{text-decoration: none; color:#FC6; background: transparent url(../images/sprite-knapper-reservering.png) no-repeat left -180px;}

/*green button*/
.ting-item ul.buttons li.add-to-cart,
.ting-item ul.buttons li.view-online {background-position:right -30px}
.ting-item ul.buttons li.add-to-cart:hover,
.ting-item ul.buttons li.view-online:hover {background-position:right -150px}
.ting-item ul.buttons li.add-to-cart a,
.ting-item ul.buttons li.view-online a {background-position: left -90px;}
.ting-item ul.buttons li.add-to-cart a:hover,
.ting-item ul.buttons li.view-online a:hover,
.button-green a:focus{color:#008000;background-position: left -210px;}

#ting-collection .ting-item .ting-object-buttons {width:95px;}

/*
  recommendations - others did loan ...
------------------------------------*/
body.ding-ting-object .pane-recommendation_list, body.ding-ting-collection .pane-recommendation_list{margin:0 0 0 150px;}
.pane-recommendation_list h1{margin: 10px 0; color:#790f21; display:none;}
.pane-recommendation_list h3{margin:0;}
.pane-recommendation_list ul.ting-recommendation li{background-image:none; background-color:none; border:none; padding:2px 0 0px 10px; margin:0 10px; text-transform:none; font-size:10px; width:auto;}
.pane-recommendation_list ul.ting-recommendation li a{color:#9CB333; display:inline;}
.pane-recommendation_list ul.ting-recommendation li a .title{font-weight:bold; color:#000; display:inline; margin:0 5px 0 0 ;}

.pane-periodical_view h1 {
  padding: 0 16px;
}

#periodical-issue-list .year ul li {
  clear: left;
  padding: 10px 0;
  vertical-align: middle;
}

#periodical-issue-list .year ul {
  vertical-align: middle;
}

#periodical-issue-list .year .buttons li {
  padding: 0 5px;
}

#periodical-issue-list .year {
  padding: 0 16px;
}

#periodical-issue-list .year div.title,
#periodical-issue-list .buttons{
  display: inline-block;
  font-weight: normal;
}

#periodical-issue-list .expanded {
  padding-bottom: 12px;
  cursor: pointer;
}

#periodical-issue-list .year h3 {
  font-size: 12px;
  color: #9CB333;
  margin: 0;
  padding-left: 15px;
  background:transparent url(../images/bullet_toggle_plus.gif) 0% 50% no-repeat;
}

#periodical-issue-list .year h3:hover {
  text-decoration: underline;
}

#periodical-issue-list .expanded h3 {
  font-weight: bold;
  background: url(../images/bullet_toggle_minus.gif) 0% 50% no-repeat;
}

#periodical-issue-list .expanded ul {
  margin-left: 15px;
}

#periodical-issue-list .expanded ul li {
  background: transparent;
  padding: 0;
}

#periodical-issue-list .expanded h3+ul>li {
  list-style: disc;
  overflow: hidden;
}

#periodical-issue-list a {
    color: #9CB333;
}
#periodical-issue-list .buttons a {
    color: #fff;
}

/*
  References - content refering a
  ting object.
------------------------------------*/
#reference .node .content { width: 370px; }
